
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SASPLabs_2_4.ViewModels.WaffleCategViewModel

<h2>Добавление вафли</h2>
<div>
    @using (Html.BeginForm("Add", "Edit", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return file_selected" }))
    {
        <p>Введите название</p>
        @Html.EditorFor(a => a.Waffle.Name)
        @Html.ValidationMessageFor(a => a.Waffle.Name)
        <p>Введите производителя</p>
        @Html.TextBoxFor(a => a.Waffle.Maker)
        @Html.ValidationMessageFor(a => a.Waffle.Maker)
        <p>Загрузите изображение</p>
        <input type="file" accept="image/*" name="upload" id="f1" onchange="file_selected = true;">
        <p>Введите срок годности</p>
        @Html.TextBoxFor(a => a.Waffle.ShelfLife, new { type = "date" })
        @Html.ValidationMessageFor(a => a.Waffle.ShelfLife)
        <p>Введите цену</p>
        @Html.TextBoxFor(a => a.Waffle.Price)
        @Html.ValidationMessageFor(a => a.Waffle.Price)
        <br>
        <p>Категория</p>
        @Html.DropDownList("CategoryId",
       Model.Categories.Select(m => new SelectListItem
       {
           Value = m.Id.ToString(),
           Text = m.Name
       }),
       new { @class = "form-control" })
        <br>
        <br>
        <input type="submit" onclick="showNoFile()" value="Добавить">
    }

    @Html.ActionLink("Вернуться назад", "Back")
</div>

<script type="text/javascript">
    var file_selected = false;
    function showNoFile() {
        if (!file_selected) {
            alert('Изображение не выбрано!');
            return false;
        }
        else {
            return true;
        }
    }
</script>


