
@{
    ViewBag.Title = "BoughtAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ASPLabs2_4.ViewModels.PurchCartViewModel



<h2>Ваш заказ</h2>
@if (Model.Count > 1)
{
    <h3>№ заказа(ов) @(Model.Purchase.PurchaseId-Model.Count) - @Model.Purchase.PurchaseId</h3>
}
else
{
    <h3>№ заказа @Model.Purchase.PurchaseId</h3>
}



<div>
    @*@Html.DisplayForModel()*@
    <p>Имя</p>
    @Html.DisplayFor(a => a.Purchase.Person)
    <br>
    <br>
    <p>Адрес</p>
    @Html.DisplayFor(a => a.Purchase.Address)
    <br>
    <br>
    <p>Email</p>
    @Html.DisplayFor(a => a.Purchase.Email)
    <br>
    <br>
    <p>Номер телефона</p>
    @Html.DisplayFor(a => a.Purchase.Phone)
    <br>
    <br>
    <p>Форма оплаты</p>
    @Html.DisplayFor(a => a.Purchase.WageType)
    <br />
</div>


